
<style>/* about.css*/
  a:link{text-decoration: none;}
  body{

        background-image:url("배경8.jpg");
        background-size:cover;
  }
  a:link{text-decoration: none;}
  ul{
    font-size:25px;
    color:#643207;
  }

  h3{
    font-size:20px;
  }
  #home{
    border:0;
    background-color:transparent;
    float:right;

  }


  .home-img{
    width:60px;
    height:70px;

    }
    #heart{
      float:center;
      margin:0;
      border:0;
      padding:0;
    }
  </style>
